@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 39.72 100% 87.04%;
    --foreground: 0 0% 0%;
    --muted: 168 0% 100%;
    --muted-foreground: 168 0% 34%;
    --popover: 360 0% 100%;
    --popover-foreground: 0 0% 0%;
    --card: 198 0% 100%;
    --card-foreground: 0 0% 0%;
    --border: 0 0% 0%;
    --input: 40 1.6% 35.58%;
    --primary: 14.86 77.78% 26.47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 34.56 100% 50.98%;
    --secondary-foreground: 0 0% 100%;
    --accent: 14.86 77.78% 26.47%;
    --accent-foreground: 228 58% 99%;
    --destructive: 10 100% 44%;
    --destructive-foreground: 0 0% 100%;
    --ring: 14.86 77.78% 26.47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 198 49% 4%;
    --foreground: 198 20% 100%;
    --muted: 168 20% 9%;
    --muted-foreground: 168 0% 66%;
    --popover: 198 49% 4%;
    --popover-foreground: 198 20% 100%;
    --card: 198 49% 4%;
    --card-foreground: 198 20% 100%;
    --border: 198 4% 10%;
    --input: 198 4% 10%;
    --primary: 198 58% 39%;
    --primary-foreground: 0 0% 100%;
    --secondary: 168 58% 39%;
    --secondary-foreground: 0 0% 100%;
    --accent: 228 58% 39%;
    --accent-foreground: 228 58% 99%;
    --destructive: 10 100% 45%;
    --destructive-foreground: 0 0% 100%;
    --ring: 198 58% 39%;
  }
}


@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
